<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" 
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" 
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_9" version="3.0">
  <display-name>Struts Blank</display-name>
  <filter>
    <filter-name>securityFilter</filter-name>
    <filter-class>filters.urlSecurityFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>securityFilter</filter-name>
    <url-pattern>/welcome </url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>securityFilter</filter-name>
    <url-pattern>/welcome.action</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>securityFilter</filter-name>
    <url-pattern>/show/* </url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>securityFilter</filter-name>
    <url-pattern>/func/* </url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>titleFilter</filter-name>
    <filter-class>filters.userTitleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>titleFilter</filter-name>
    <url-pattern>/func/* </url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>editTitleFilter</filter-name>
    <filter-class>filters.editTitleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>editTitleFilter</filter-name>
    <url-pattern>/func/addProgram.jsp </url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>editTitleFilter</filter-name>
    <url-pattern>/func/addProject.jsp </url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>editTitleFilter</filter-name>
    <url-pattern>/func/addVersion.jsp </url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>editTitleFilter</filter-name>
    <url-pattern>/func/editProject.jsp </url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>editTitleFilter</filter-name>
    <url-pattern>/func/editProgram.jsp </url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>editTitleFilter</filter-name>
    <url-pattern>/func/editVersion.jsp </url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
</web-app>