<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibemate Configuration DTD 3.0 //EN"
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<!-- hibernate configuration 跟元素 -->
<hibernate-configuration>
	<session-factory>
	<!-- 指定database url -->
	<property name="connection.url">jdbc:oracle:thin:@10.0.52.49:1521:orcl</property>
	<!-- 制定用户名 -->
	<property name="connection.username">CHANGELOG</property>
	<!-- 密码 -->
	<property name="connection.password">CHANGELOG</property>
	
	<property name="dialect">org.hibernate.dialect.Oracle9Dialect</property>
	<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
	
	<!-- 配置连接池 -->
	<property name="hibernate.c3p0.max_size">20</property>
	<property name="hibernate.c3p0.min_size">1</property>
	<property name="hibernate.c3p0.timeout">5000</property>
	<property name="hibernate.c3p0.max_statement">100</property>
	
	<mapping resource="changelog.hbm.xml"></mapping>
	</session-factory>
</hibernate-configuration>