@CHARSET "UTF-8";
#main{
}
#main .show{
	width:900px;
}
#main .show table{
	width:740px;
	margin:0px auto;
}
#main .show div{
	width:45%;
	margin:30px 10px;
	float:left;
}
#main .show .detail{
	width:300px;
	margin-top:35px;
	border-right:1px grey dotted;	
	text-align:left;
}
#main .show .detail h3{
	text-align:center;
}
#main .lists table{
	display:inline;
	width:800px;
}
#main .lists table th,td{
	width:120px;
	margin:1px 20px;
	
}
#break{
	word-wrap:break-word;
}