@CHARSET "UTF-8";
#main{
	width:750px;
}
#main .show{
	width:750px;
}
#main .show table{
	width:740px;
	margin:0px auto;
}
#main .show div{
	width:45%;
	margin:15px 10px;
	float:left;
}
#main .show .detail{
	width:300px;
	margin-top:35px;
	border-right:1px grey dotted;	
	text-align:left;
}
#main .show .detail h3{
	text-align:center;
}
#main .show .lists table{
	width:400px;
}
#break{
	word-wrap:break-word;
}